footer {
    background-color: #28328B !important;
}

.foot-Content {
    a {
        font-size: 14px;
        display: block;
        text-align: left;
        margin-left: 50px;
        color: white;
    }
    h5 {
        font-size: 14px;
        margin-left: 50px;
        text-align: left;
        color: white;
    }
}