.doc-card {
  max-width: 40rem;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.content-row {
  padding: 5px 0 5px 0;
}

.align{
  width: 50rem;
  align-items: right;
  border: 2px solid #aabcf0;
  // margin-right: 0.5px;
}

.margin{
  margin-left: 62px;
}

.license-box{
  margin-top: 20px;
}

.border-card{
  border: 2px solid #aabcf0;;
}