.mcolumns {
  float: left;
  width: 50%;
  padding: 15px; 
  // margin-right: 15px;
}

.mrows{
  max-width: 1300px;
  margin: 0 auto;
  justify-content: center;
}

/* Clear floats after the columns */
.mrows:after {
  content: "";
  display: table;
  clear: both;
}


.doc-card {
  max-width: 40rem;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}

.content-row {
  padding: 5px 0 5px 0;
}

.align{
  width: 50rem;
  align-items: right;
  border: 2px solid #aabcf0;
  // margin-right: 0.5px;
}

.margin{
  margin-left: 62px;
}

.license-box{
  margin-top: 20px;
}

.border-card{
  border: 2px solid #aabcf0;;
}

.slider{
  display: block;
  min-width: 1280px;
  max-height: 280px;
  margin: auto auto;
  padding-bottom: 15px;
  // justify-content: center;
}

.align-icon{
  margin: 0 auto;
  text-align: center;
}

.yellow{
  color: rgb(255, 119, 0);
}

.heading{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}